.temp-label{
    font-size:70px;
}

.tempeture-symbol{
    font-size:20px;
}


.text-wrapper{
    display: flex;
    color: gray;
}

.icon{
    width: 30px;
    align-self: center;
    justify-self: center;
}

.semi-icon{
    width: 30%;
}
.main-icon{
    width: 70%;
}

img{
    width: 30px;
}


.grid{
    display: grid;
    grid-template-columns: auto auto;
}

.flex-column{
    display: flex;
    flex-direction: column;
}


.flex{
    display: flex;
    gap:2%;
}

.location-calender-wrapper{
    display: flex;
    flex-direction: column;
    gap: 9%;
    height: 10vh;
    margin-top: 2vh;
}
.footer-icon{
    width: 17px;
}

.center{
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.wind-temp-label{
    font-size: 14px;
    color: gray;
}

